# === LiveKit ===
LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=APIxxxxxxx
LIVEKIT_API_SECRET=xxxxxxxxxxxxxxxxxxxx

# === Groq (LLM) ===
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=llama-3.3-70b-versatile

# === Deepgram (ASR)(speech to text) ===
DEEPGRAM_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# === Cartesia (TTS) ===
CARTESIA_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# === Twilio (PSTN/SIP)(not used rn ) ===
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE_NUMBER=+15551234567
TWILIO_SIP_DOMAIN=voxpilot.sip.twilio.com

# === Langfuse (Tracing) ===
LANGFUSE_SECRET_KEY=sk-lf-9ee654a8-c72f-43f4-8ee9-98af7bb28724
LANGFUSE_PUBLIC_KEY=pk-lf-dffb7207-ce23-4751-b356-81ef65db9a21
LANGFUSE_BASE_URL=https://cloud.langfuse.com

# === Server ===
HOST=0.0.0.0
PORT=8890
DEBUG=true